{% extends 'base.html' %}
{% block title %} Роль пользователя {% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 p-5">
        <div class="card">
          <div class="card-header">
            <p><i>{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</i></p>
            <p><i>{{ user.position }}</i></p>
          </div>
          <div class="card-body">
            <p>Роль пользователя в админисративной комиссии</p>
            {% for role in roles %}
              {% if role %}
                {% if forloop.last %}
                  <form action="{% url 'users:del_role' user.username %}">
                    {% csrf_token %}
                    {% load static %}
                    <span>{{ role }}</span><button><img src="{% static 'img/cross.png' %}"></button>
                  </form>
                {% endif %}
                {% if not forloop.last %}
                  <p>{{ role }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
            <form method= "post" action="{% url 'users:roles' user.username %}">
                {% csrf_token %}
                {% for field in form %}
                {% load static %}
                <span>{{ field }}</span> <button><img src="{% static 'img/accept.png' %}"></button>
                {% endfor %}
            <form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
