{% extends 'base.html' %}
{% block content %}
  {% load static %}
  {% for article in articles_list %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="message">
            <h1> {{ article.header }} </h1>
            <p> {{ article.text }} </p>
          </div> <!--Cообщение-->
          <span class="author"><img src="{% static 'img/person.png' %}"></span>
          <span>Автор бла-бла</span>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}